<div id="main">
    <div class="content">
        <h1 id="name">About me</h1>
        <h2 class="line-1 typewriter">sh about.sh && whoami</h2>
        <p class="paragraph d-inline-flex p-2">
            Hi, my name is Mario Sessa and I am a software engineer with a focus on machine learning and data-driven
            infrastructure. I have a background in computer science and have worked in some interesting projects
            during
            my professional path. My primary interests are in the development and implementation of machine learning
            algorithms and data-driven infrastructure, and I am always looking for ways to learn and improve in
            these
            areas. In my spare time, I enjoy staying up to date on the latest advances in machine learning and
            exploring
            new technologies and techniques.
        </p>

    </div>
</div>