<section class="terminal-container terminal-fixed-top">
    <header class="terminal">
        <span class="button red"></span>
        <span class="button yellow"></span>
        <span class="button green"></span>
    </header>

    <div class="terminal-home">
        <p class="console">MacBook-Pro-of-Kode:Projects kode$ sh run.sh</p>
        <p class="console">=> Kode Starting...</p>
        <p class="console">=> Run 'startup.sh'</p>
        <p class="console">=> COPY package.json .</p>
        <p class="console">=> RUN package.json .</p>
        <p class="console success">Build complete successfully!</p>
        <p class="console"><span class="yellow-text">[server] </span>Starting server...</p>
        <p class="console"><span class="yellow-text">[server] </span> Version 3.11.0</p>
        <p class="console"><span class="yellow-text">[server] </span> Min threads: 5, max threads: 15</p>
        <p class="console"><span class="yellow-text">[server] </span> Environment: development</p>
        <p class="console"><span class="yellow-text">[server] </span> Listening on tcp://0.0.0.0:3000</p>
    </div>
</section>