<div class="main">
    <app-navbar></app-navbar>
    <div class="container">
        <section class="pricing py-5">
            <div class="container">
              <div class="row">
                <!-- Free Tier -->
                <div class="col-lg-4">
                  <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                      <h5 class="card-title text-muted text-uppercase text-center">Freelancer Service</h5>
                      <h6 class="card-price text-center">&euro;15<span class="period">/hour</span></h6>
                      <hr>
                      <ul class="fa-ul">
                        <li><span class="material-symbols-outlined">check</span>Design Solutions</li>
                        <li><span class="material-symbols-outlined">check</span>Implement Projects</li>
                        <li><span class="material-symbols-outlined">check</span>Debugging and Testing</li>
                        <li><span class="material-symbols-outlined">check</span>Integration and Deployment</li>
                      </ul>
                      <div class="d-grid">
                        <a href="#" class="button">Request a Personal Advise </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Plus Tier -->
                <div class="col-lg-4">
                  <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                      <h5 class="card-title text-muted text-uppercase text-center">Academic Tutoring</h5>
                      <h6 class="card-price text-center">&euro;20<span class="period">/month</span></h6>
                      <hr>
                      <ul class="fa-ul">
                        <li><span class="material-symbols-outlined">check</span>Embedded Materials</li>
                        <li><span class="material-symbols-outlined">check</span>Lessons in English or Italian</li>
                        <li><span class="material-symbols-outlined">check</span>Lessons One to One</li>
                        <li><span class="material-symbols-outlined">check</span>1 Free Lesson</li>
                      </ul>
                      <div class="d-grid">
                        <a href="#" class="button">Request a Personal Advise </a>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Pro Tier -->
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-muted text-uppercase text-center">Data Service</h5>
                      <h6 class="card-price text-center">&euro;15<span class="period">/hour</span></h6>
                      <hr>
                      <ul class="fa-ul">
                        <li><span class="material-symbols-outlined">check</span>Web Scraping</li>
                        <li><span class="material-symbols-outlined">check</span>Data Retrieval</li>
                        <li><span class="material-symbols-outlined">check</span>Data Preparation</li>
                        <li><span class="material-symbols-outlined">check</span>Big Data Management</li>
                      </ul>
                      <div class="d-grid">
                        <a href="#" class="button">Request a Personal Advise </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </div>
</div>
<app-footer></app-footer>