<div class="main">
    <app-navbar></app-navbar>
    <section class="window-container window-fixed-top">
        <header class="window">
            <span class="button red"></span>
            <span class="button yellow"></span>
            <span class="button green"></span>
        </header>
        <div class="window-home">
            <div class="header">
                <h1>Privacy Policy</h1>
            </div>
            <div class="content">
                <div class="inner-content"> At kode-git, we are committed to protecting your privacy. This privacy policy explains how we
                    collect, use, and share information about you when you use our website, products, and services.

                    <h2>Information We Collect</h2>

                    We may collect the following types of information about you:
                    <ol>
                        <li>
                            <b>
                                Personal information:
                            </b>

                            This includes information that can be used to identify you, such as your name,
                            email address, and phone number. We may collect this information when you create an
                            account
                            with us,
                            place an order, or contact us for support.

                        </li>
                        <li>
                            <b>Usage data:</b>

                            We may collect information about how you use our products and services, including the
                            features you access, the pages you visit, and the actions you take.
                            Device information: We may collect information about the devices you use to access our
                            products and
                            services, including the IP address, device type, and operating system.
                            How We Use Your Information

                        </li>
                    </ol>
                    We may use the information we collect about you for the following purposes:

                    <ul>
                        <li>
                            <b>To provide, maintain, and improve our products and services:</b> We may use your information to
                            deliver
                            the features and functionality you request, and to improve the performance and reliability
                            of our
                            products and services.
                        </li>
                        <li>
                            <b>To communicate with you:</b> We may use your information to send you updates, newsletters, and
                            other
                            communications related to our products and services.
                        </li>
                        <li>
                            <b>To analyze and improve our products and services:</b> We may use your information to understand
                            how our
                            users interact with our products and services, and to identify opportunities for
                            improvement.
                            Sharing Your Information
                        </li>
                    </ul>

                    We may share your information with third parties for the following purposes:
                    <ol>
                        <li>
                            <b>
                                Service providers:
                            </b>

                            We may share your information with third-party service providers who help us
                            operate our business, such as hosting providers, payment processors, and customer support
                            companies.

                        </li>
                        <li>
                            <b>Partners: </b> We may share your information with business partners who offer products or services that
                            may be of interest to you.
                        </li>
                        <li>
                            <b>Legal purposes: </b> We may disclose your information if required to do so by law or in response to a
                            valid request from a government or law enforcement agency.
                        </li>
                    </ol>
                    <h2>Your Choices and Rights</h2>
            
                    You have the following choices and rights regarding the information we collect about you:

                    <ol>
                        <li>
                            <b>
                                Opt out of marketing communications:
                            </b> You can opt out of receiving marketing communications from us
                            at any time by following the unsubscribe instructions in the communications you receive or by
                            contacting us at <i>support@kode-git.com</i>.
                        </li>
                        <li>
                            <b>
                                Access and update your information:
                            </b>  You can access and update your personal information by logging
                            into your account or contacting us at <i>support@kode-git.com</i>.
                        </li>
                        <li>
                            Request the deletion of your information: You can request that we delete your personal information
                            by contacting us at <i>support@kode-git.com</i>. Please note that we may be required to retain certain
                            information for legal or business purposes.
                        </li>
                    </ol>
                    Please note that we may be required to retain certain
                    information for legal or business purposes.

                    <h2>Changes to This Privacy Policy</h2>

                    We may update this privacy policy from time to time to reflect changes to our practices or for other
                    operational, legal, or regulatory reasons. We encourage you to review the privacy policy whenever
                    you access our products or services to stay informed about our information practices and your
                    choices.

                    <h2>Contact Us</h2>

                    If you have any questions or concerns about our privacy policy or the information we collect about
                    you, please contact us at <i>support@kode-git.com</i>.
                </div>

            </div>

        </div>

    </section>
    <app-footer></app-footer>
</div>