<div class="main">
    <app-navbar></app-navbar>
    <div class="container">
        <div class="row">
            <section class="window-container window-fixed-top">
                <header class="window">
                    <span class="button red"></span>
                    <span class="button yellow"></span>
                    <span class="button green"></span>
                </header>
                <div class="window-main row">
                    <div class="content-side col-sm-2">
                        <img class="profile-img" width=100px src="../../../assets/profile.jpg" alt="profile">
                        <div class="name">Mario Sessa</div>
                        <div class="mail">m.sessa65@icloud.com</div>
                        <div class="info first">
                            <span class="icon material-symbols-outlined">
                                devices
                            </span><span class="text-info">Software Engineer</span>
                        </div>
                        <div class="info location">
                            <span class="icon material-symbols-outlined">
                                location_on
                            </span><span class="text-info">Bologna, BO</span>
                        </div>
                        <div class="info nation">
                            <span class="icon material-symbols-outlined">
                                flag
                            </span><span class="text-info">Italy, IT</span>
                        </div>
                        <hr>
                        <div>
                            <img class="date-icon" width="20px" src="../../../assets/icon-date.png">
                            <span class="date-text text-info">18 July 1997</span>
                        </div>
                        <div class="info-2">
                            <img class="tweet-icon" width="20px" src="../../../assets/icon-tweet.png">
                            <span class="tweet-text text-info"><a href="https://twitter.com/kodegit">@kodegit</a></span>
                        </div>
                        <div class="info-2">
                            <img class="linkedin-icon" width="20px" src="../../../assets/icon-linkedin.png">
                            <span class="likedin-text text-info"><a
                                    href="https://www.linkedin.com/in/mario-sessa/">/mario-sessa</a></span>
                        </div>
                        <div class="info-2">
                            <img class="date-icon" width="20px" src="../../../assets/icon-git.png">
                            <span class="git-text text-info"><a href="https://github.com/kode-git">kode-git</a></span>
                        </div>
                    </div>
                    <div class="content-main col-md-2">
                        <div class="row">
                            <div *ngFor="let repo of repos" class="row repo" style="background-color:{{repo.color}}">
                                <div class="header">
                                    <img width="30px" src="../../../assets/icon-git.png">
                                    <span class="title">{{repo.name}}</span>
                                </div>
                                <div class="description">
                                    {{repo.description}}
                                </div>
                                <div class="tags">
                                    <ul>
                                        <li *ngFor="let topic of repo.topics">
                                            {{topic}}
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <a href="{{repo.url}}" class="link">Source Code</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


            </section>
        </div>
    </div>
</div>
<app-footer></app-footer>