.main{
    background-image: url('../../../assets/gradient.png');
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 74vh; /* minus the height of the footer */
}

header.window {
    background: #f3f3f3;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
}

.window-container header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
}


.success {
    color:  #3BB662 !important;
}

.green {
    background-color: #3BB662 !important;
}

.red {
    background-color: #E75448 !important;
}

.yellow {
    background-color: #E5C30F !important;
}


.content-main {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 10px;
    min-width: 80%;
    overflow: scoll;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 20px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.info-item {
    text-decoration: none;
    list-style-type: none;
    font-size: 10px;
}

.info {
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 10px;
}

.info-2{
    margin-top: 10px;
    margin-left: -25px;
}

.info-2 img{
    border-radius: 5px;
}

.first {
    margin-top: 50px;
}


.icon{
    font-size: 12px;
    margin-left: -10px;
    margin-right: 7px;
    margin-bottom: -5px;
    padding: 4px;
    color: white;
    background-image: linear-gradient(rgb(193, 193, 193), gray);
    border-radius: 5px;
}

.location {
    margin-right: 30px;
}

.nation {
    margin-right: 58px;
}

.text-info {
    font-size: 12px;
    color: black !important;
    font-size: 12px;
}

.text-info a{
    color: black;

    &:hover{
        font-weight: bold;
    }
}

.linkedin-icon {
    margin-left: -10px;
    margin-right: 9px;
}


.content-side {
    color: black;
    background-color: #f3f3f3;
    position: relative;
    margin-top: -20px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    margin-left: -28px;
    min-height: 500px;
    min-width: 200px;
    padding-top: 30px;
    text-align: center;
}

.content-side .profile-img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.name {
    font-size: 12px;
    margin-top: 5px;
    font-weight: bold;
}

.mail{
    font-size: 12px;
}

.date-icon {
    margin-left: -38px;
    margin-right: 7px;
}

.tweet-icon{
    margin-left: -30px;
    margin-right: 7px;
}



.window{
    max-height: 300px;
    border-radius: 0px;
    
}
.window-container {
    text-align: left;
    min-width: 100%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;

}

.window-fixed-top {
    margin-top: 30px;
}

.col-sm-2{
    max-width: 150px;
}


.window-main {
    background-color: #d7dbde;
    padding: 1.5em 1em 0em 2em;
    margin-left: 1px;
    margin-right: 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #FAFAFA;
}

.gray{
    background-color: green;
}

.white{
    background-color: white;
}

.repo {
    background-color: white;
    min-width: 100%;
    min-height: 100%;
    margin: 0 auto;
    color: black;
    padding: 20px;
    padding-bottom: 5px !important;
    display: block;
}

.header{
    font-size: 20px;
    margin-bottom: 10px;
}

.header .title{
    margin-left: 20px;
}

.description{
    font-size: 15px;
}
.tags ul{
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
    margin-bottom: 2px;
}

.tags ul li{
    display: inline;
    padding: 5px;
    margin-right: 10px;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
    background-color: rgb(239, 239, 239);
    color: gray;
    font-size: 10px;
}

.link{
    font-size: 10px;
    float: right;
    background-image: linear-gradient(white, rgb(239, 239, 239));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-image: linear-gradient(white, rgb(239, 239, 239));
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    color: rgba(62, 62, 255, 0.794);
}

.link:hover{
    background-image: linear-gradient(rgb(239, 239, 239), white,);
    text-decoration: none;
}

.link:active{
    background-image: linear-gradient(rgb(215, 215, 215), rgb(229, 229, 229),);
}
@media screen and (max-width: 1000px){

    .content-side{
        min-width: 100%;
        margin: 0 auto;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
        width: 100% !important;
    }

    .content-main{
        min-height: 200%;
    }
}