<div class="main">
    <app-navbar></app-navbar>
    <section class="window-container window-fixed-top">
        <header class="window">
            <span class="button red"></span>
            <span class="button yellow"></span>
            <span class="button green"></span>
        </header>
        <div class="window-home">
            <div class="header">
                <img width="100px" src="../../../assets/logo.png">
            </div>
            <div class="content">
                <div class="copy">
                    Copyright &copy; Mario Sessa, <br>All rights are reserved.<br> 2022-2023.
                </div>
                <div class="status"><b>Status:</b> <span class="state green"> </span></div>
                <div class="version">
                    <b>Version:</b> <span class="version">1.0.0</span>
                </div>
            </div>
        </div>

    </section>
    <app-footer></app-footer>
</div>