.main {
    background-image: url('../../../assets/gradient.png');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 74vh;
    /* minus the height of the footer */
}

section{
    max-width: 300px;
    min-height: 400px;
}

.container {
    color: rgb(66, 66, 66);
    margin: 0 auto;
    padding: 30px;
}

ol{
    max-height: 500px;
    overflow-y: scroll;
}

li{
    padding-bottom: 20px;
}

.header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 77, 77);

}

button {
    color: gray;
}

button:hover {
    text-decoration: none;
    color: rgb(63, 63, 63);
}

header.window {
    background: #ffffff;
    height: 30px;
    border-radius: 8px 8px 0 0;
    padding-left: 10px;
}


.window-container header .button {
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
    max-width: 100px !important;
    
}

.success {
    color: #3BB662 !important;
}

.green {
    background-color: #3BB662 !important;
}

.red {
    background-color: #E75448 !important;
}

.yellow {
    background-color: #E5C30F !important;
}


.window-container {
    text-align: left;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    color: rgb(58, 57, 57);
}

.window-fixed-top {
    margin-top: 30px;
}

.window-home {
    background-color: #ffffff;
    padding: 1.5em 1em 1em 2em;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.content {
    max-width: 500px;

}

.copy{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.status, .version{
    width: 100%;
}

.state{
    width: 12px;
    height: 12px;
    margin: 10px 4px 0 0;
    display: inline-block;
    border-radius: 8px;
    max-width: 100px !important;
}

.status b, .version b{
    margin-right: 5px;
}